.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex !important;
}

.iconWrapper {
  display: inline-block;
  width: 22px;
  margin-left: 5px;
}

.button {
  margin: auto !important;
}
